* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: auto;
}

body {
  overflow: hidden;
  /* width: 100vw; */
  /* height: 100vh; */

}

#root {
  height: 100vh;
  width:100vw;
}

.flx-container {
  /* width: 100vw; */
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: auto; */
}

/* .component {
  width: 80%; 
  height:100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 40% 10% 30%;
} 
*/

.title {
  grid-area: 1 / 1 / 1 / 4;
  align-self: center;
  justify-self: center;
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}